:root {
    --primary: #E87722;
    --secondary: #05C3DE;
    --sysgrey: #425563;
    --sysdarkblue: #001A72;
    --systeal: #007FA3;
    --sysyellow: #F3D03E;
    --sysbluegrey: #A4BCC4;
}

* {
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    width: 100%;
}

main {
    width: 100%;
}

section {
    min-width: fit-content; /** TODO: Change width and height to fit specifics. */
    min-height: fit-content;
}

.hero {
    background: url("/images/banner_microsite_syspro_release_2022.png") no-repeat;
    background-size: cover;
    padding: 50px;
}

.heroContent, .benefitsContent, .releasesContent, .availabilityContent, .nextContent, .previewContent, .sneak-peekContent, .footerContent, .buttons {
    width: 80%;
}

.buttons {
    gap: 10px;
}

.hero h1, .hero h2, .hero p {
    color: #ffffff;
}

.builtfor {
    width: 100%;
    padding: 30px 0;
    display: flex;
}

.left-screen {
    width: 40%;
    overflow: hidden;
}

.right-content {
    align-content: flex-start; /* TODO: Fix the positioning of the content to left*/
    margin-left: 0;
    width: 50%;
}

.right-content h2 {
    color: var(--secondary);
}

.right-content h3, .right-content h4, .right-content {
    color: var(--sysgrey);
}

.right-content .buttons {
    margin-left: 0;;
}

ul li {
    /**/
}

.left-screen > img {
    width: 100%;
}

/** ul li:nth-child(1) {
    list-style-image: url("icons/improved_internal_control_teal_icon.png");
}

ul li:nth-child(2) {
    list-style-image: url("icons/supply_chain_connected_teal_icon.png");
}

ul li:nth-child(3) {
    list-style-image: url("icons/organizational_control_teal_icon.png");
}

ul li:nth-child(4) {
    list-style-image: url("icons/data_driven_teal_icon.png");
}

ul li:nth-child(5) {
    list-style-image: url("icons/business_digital_platform_team_icon.png");
} */

.benefits {
    width: 100%;
    margin: 0 auto;
    padding: 30px 0;
    background: linear-gradient(90deg, var(--secondary), var(--sysdarkblue));
    color: #ffffff;
}

.benefits fieldset {
    border: solid 1px #ffffff;
    min-width: 150px;
    min-height: 150px;
}

.benefits figcaption {
    color: #ffffff;
    font-weight: 200;
}

.benefitsContent {
    text-align: center;
}

.core-bens {
    display: flex;
    padding: 20px 0;
}

.core-bens img {
    width: 100px;
}

.releases {
    padding: 30px 0;
}

.releases h2 {
    color: var(--systeal);
    padding-bottom: 15px;
}

.releases p {
    color: var(--sysgrey);
}

.availabilityContent img {
    max-width: 200px;
}

.availabilityContent button {
    margin: 20px 0;
}

.next {
    padding: 30px 0;
}

.nextContent p span {
    background: var(--systeal);
    color: #ffffff;
    padding: 4px 25px 0px 20px;
    border-bottom: solid 1px var(--systeal);
}

.nextContent p {
    color: var(--sysgrey);
    border-bottom: solid 1px var(--systeal);
    margin-top: 10px;
}

.preview {
    background: var(--sysbluegrey);
}

.previewContent {
    padding: 30px 0;
    display: flex;
}

.previewContent .right-content {
    vertical-align: middle;
}

.preview h2 {
    color: var(--sysgrey);
}

.sneak-peek {
    width: 100%;
    background: linear-gradient(90deg, var(--secondary), var(--sysdarkblue));
    color: #ffffff;
}

.sneak-peekContent {
    display: flex;
    padding: 30px 0;
}

.left-content {
    width: 60%;
}

.sneak-peekContent > .right-content {
    /**/
}

footer {
    width: 100%;
    background: var(--sysgrey);
}

.footerContent {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    padding: 30px 0;
}

footer div {
    padding: 20px;
}

footer img {
    width: 200px;
}

footer .logo {
    /**/
}

footer h4 {
    color: #ffffff;
    text-transform: uppercase;
}

.footerContent {
    margin: 0 auto;
}

footer ul li {
    list-style: none;
}

footer ul li a {
    color: #ffffff;
    text-decoration: none;
}

footer .links, footer .support {
    margin: 0;
}

button {
    padding: 8px 12px;
    border: none;
    color: #ffffff;
    cursor: pointer;
}

.primary {
    background-color: var(--primary);
}

.secondary {
    background-color: var(--secondary);
}